@charset "UTF-8";

:root{
    --rosa: rgb(252, 208, 191);
    --rosa-escuro: rgb(235, 150, 116);
    --verde: rgb(72, 124, 72);
    --verde-escuro: rgb(13, 80, 28);

    --letra1: 'Amatic SC', cursive;
    --letra2: 'Alegreya Sans', sans-serif;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    background-image:url(imagens/back-flor.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
 
}

h1{
    font-family: var(--letra2);
    font-size: 1.8em;
    margin: 10px;
    color: var(--verde-escuro);
    font-weight: 300;
}

.banner {
    width: 100%;
    margin-top: 3px;
}

.cabecalho {
    background: var(--rosa);
    padding: 5px 0;
    height: 130px;  
}

.logo-p{
    display: block;
    width: 120px;
}

.logo{

    display: none;
    
}


nav {
    position: absolute;
    top: 10px;
    right: 10px;
}

nav li {
    display:block;
    margin: 0 10px 0 20px;
    text-align: right;
}

nav a {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    color: var(--verde-escuro);
    font-weight: normal;
    font-size: 40px;
    text-decoration: none;
}

nav a:hover {
    color: var(--rosa-escuro);
    
}

.produtos h2{
    font-family:'Amatic SC', cursive;
    font-size: 2em;
    
}

.produtos li{
    padding: 10px;
    text-align: center;
    margin: auto;   
}

.produtos img{
    border: 2px solid var(--verde);
    border-radius: 50%;
    margin-top: 10px;
    opacity: 1;
    width: 250px;
    transition: 0.5s;
    
}

.produtos li img:hover{
    opacity: 0.5;
}

.linha{
    background-color: var(--verde);
    height: 30px;
    margin-top: 15px;
}

.texto p{
    max-width: 600px;
    display: block;
    text-align: justify;
    margin: auto;
    font-size: 1.2em;
    line-height: 25px;
    padding: 15px;

}

.texto h2{

     font-family: var(--letra1);
     font-size: 1.8em;
     margin: 10px;
     font-weight: bold;
     text-align: center;
}

.teste{
    width: 98vw;
}

footer {
    background: var(--rosa);
    text-align: center;
    padding: 10px;
    font-family:'Amatic SC', cursive; 
    opacity: 0.8;

}

footer p{
    font-family: var(--letra2);
    color: var(--verde-escuro);
    padding: 5px;
}
footer a{
    color: var(--rosa-escuro);
}



@media screen and (min-width: 730px) {
    .produtos li{
        display: inline-block;
        padding: 10px;
        text-align: center;
        width: 30%;
        margin: auto;
    }

    .produtos img{
        width: 250px;
        
    }

    nav li{
        display: inline;
        margin-right: 50px;
    
    }
    .cabecalho{
        height: 50px;
    }

    .logo{
        width: 150px;
        display: block;
        padding: 3px 0 0 5px;
    }

    .logo-p{
        display: none;
    }
}

@media screen and (min-width:610px) and (max-width: 730px) {
    .produtos li{
        display: inline-block;
        padding: 10px;
        text-align: center;
        width: 25%;
        margin: auto;
    }
    nav li{
        display: inline;
        margin-right: 50px;
    
    }
    .cabecalho{
        height: 50px;
    }

    .logo{
        
        display: none;
    }
    .logo-p{
        width: 50px;
        margin: 2px 0 0 5px;
    }
}