@charset "UTF-8";

:root{
    --rosa: rgb(252, 208, 191);
    --rosa-escuro: rgb(235, 150, 116);
    --verde: rgb(72, 124, 72);
    --verde-escuro: rgb(13, 80, 28);

    --letra1: 'Amatic SC', cursive;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-family:'Amatic SC', cursive;
    font-size: 2em;
    margin: 10px;
}



.banner {
    width: 100%;
    margin-top: 3px;
}

.cabecalho {
    background: var(--rosa);
    padding: 5px 0;
    height: 130px;  
}

.logo-p{
    display: none;
}

.logo{
    width: 150px;
    display: block;
    padding: 3px 0 0 5px;
}

.logo-p{
    width: 30px;
}

nav {
    position: absolute;
    top: 10px;
    right: 50px;
}

nav li {
    display:block;
    margin: 0 20px 0 20px;
}

nav a {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    color: var(--verde-escuro);
    font-weight: normal;
    font-size: 40px;
    text-decoration: none;
}

nav a:hover {
    color: var(--rosa-escuro);
    
}

.produtos h2{
    font-family:'Amatic SC', cursive;
    font-size: 2em;
    
}

.produtos li{
    padding: 10px;
    text-align: center;
    width: 30%;
    margin: auto;
    transition: 0.5s;   
}

.produtos img{
    border: 2px solid var(--verde);
    border-radius: 50%;
    margin-top: 10px;
    opacity: 1;
    width: 200px;
}

.produtos li:hover{
    opacity: 0.5;
}

.linha{
    background-color: var(--verde);
    height: 30px;
    margin-top: 15px;
}

.texto p{
    max-width: 600px;
    display: block;
    text-align: justify;
    margin: auto;
    font-size: 1.2em;
    line-height: 25px;
    padding: 10px;

}

.texto h2{

     font-family: var(--letra1);
     font-size: 1.8em;
     margin: 10px;
     font-weight: bold;
     text-align: center;
}

.teste{
    width: 98vw;
}

footer {
    background: var(--rosa);
    text-align: center;
    padding: 10px;
    font-family:'Amatic SC', cursive; 
    opacity: 0.8;

}

.imagem-rodape {
    width: 100px;
}

@media screen and (max-width: 500px) {


    .logo{
        display: none;
    }

    .logo-p{
        display: block;
        width: 120px;
        margin: 3px;
    }
   
}

@media screen and (min-width: 550px) {
    .produtos li{
        display: inline-block;
        padding: 10px;
        text-align: center;
        width: 30%;
        margin: auto;
    }

    .produtos img{
        width: 250px;
    }

    nav li{
        display: inline;
    }
    .cabecalho{
        height: 50px;
    }
}