body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.banner {
    width: 100%;
}

.cabecalho {
    background: rgb(252, 208, 191);
    padding: 5px 0;
    height: 30px;  
}

.logo{
    width: 100px;
    display: block;
    margin: auto;
}

nav {
    background-color: rgb(72, 124, 72);
    padding: 5px;
    position: relative;

}

nav li {
    display:inline;
    margin: 0 0 0 20px;
}

nav a {
    font-family: 'Amatic SC', cursive;
    text-transform: uppercase;
    color: bisque;
    font-weight: normal;
    font-size: 40px;
    text-decoration: none;
}

nav a:hover {
    color: rgb(13, 80, 28);
    
}

main h2 {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 30px;
    padding: 20px;
}


footer {
    background: bisque;
    text-align: center;
    padding: 10px;
    font-family:'Amatic SC', cursive; 
    opacity: 0.8;

}

.imagem-rodape {
    width: 100px;
}